.container {
  max-width: 732px;
  padding: 0 1rem;
  margin: 0 auto;
}

.title {
  font-size: 1.75rem;
  line-height: 2.125rem;
  color: var(--heading);
  font-weight: bold;
  letter-spacing: -0.5px;
}

.subtitle {
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: var(--body);
  font-weight: normal;
}

.info {
  font-size: 0.875rem;
  line-height: 1rem;
  color: var(--info);
  font-weight: normal;
}
